# Data
lightning_logs
cs194-26-fa20-proj4

# Model
resnet-for-face-points-recognize-state-dict.pth
resnet-for-face-points-recognize_state_dict.pth
resnet-for-face-points-recognize.pth
InstallFix.txt
Plan.txt
